.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* header section related style */
header{
    background-color: #1A0B2E;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
}

img{
    max-width: 210px;
}

.navbar .menu ul{
  display: flex;
  gap:32px;
  font-size: 1rem;
  font-weight: 500px;
  line-height: 120%;
  list-style-type: none;
  color: #FFFFFF;
}

.btn{
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 25px;
    max-width: 135px;
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}

/* hero-section */
#hero-section{
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* .mic-logo{
  width: 300px;
  height: 300px;
  background-image: url("./assets/hero-circle.png") , url("./assets/microphone.png");
  background-position: center center,center center;
  background-repeat: no-repeat;
  background-size: 100px auto, contain;
} */

.circle-box{
  width: 250px;
  height: 250px;
  background-image: url("./assets/hero-circle.png");
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  justify-content: center;

}
#hero-section{
  padding: 101px 525px;
}

#hero-section .hero-content .circle{
  /* size: 100%;
  height: 350px; */
  transform: translatey(100px);
}
.microphone{
  
  
  width: 80px;
  
  transform: translateX(-00px) translateY(-70px) ;

  
}

.hero-title{
  margin-top: 42px;
  font-size: 3.8rem;
  font-weight: 900;
  color: #FFFFFF;
}
.hero-details{
  max-width: 550px;
  font-size: 0.5rem;
  color: #FFFFFF;

}