.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* header section related style */
header{
    background-color: #1A0B2E;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
}

img{
    max-width: 210px;
}

.navbar .menu ul{
  display: flex;
  gap:32px;
  font-size: 1rem;
  font-weight: 500px;
  line-height: 120%;
  list-style-type: none;
  color: #FFFFFF;
}

.btn{
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 25px;
    max-width: auto;
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}

#hero-section{
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
}

.container{
  position: relative;
  display: inline-block;
}

.circle{
  width: 350px;
  height: 350px;   
  max-width: none; 
  display: block;
  margin: 0 auto;
}



.mic{
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.hero-title{
  margin-top: 40px;
  font-size: 3.8rem;
  font-weight: 900;
  color: #FFFFFF;
}

.title p{
  color: #FFFFFF;
  font-size: 1 rem;
  margin-bottom: 30px;

}
.btn-2{
  color: #00FF88;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #00FF88;
  padding: 12px 20px;
  background:transparent;
  border-radius: 60px;
  margin-left: 8px;
  
}
/* about section */

.about{
  background-color: #1A0B2E;
  padding: 50px 200px;
}

.about-details{
  
  text-align: center;
  justify-content: center;
}
.about-title{
  font-size: 3rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 16px;
}

.about-details{
  font-size: 0.8rem;
  color: #FFFFFF;
  opacity: 80%;
  
  
}
.p-last{
  margin-bottom: 50px;
}


.about-container{
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 80px;
  max-width: 1200px;
  
  
}
.about-card{
  max-width: 170px;
  

}


.text-green{
  font-size: 3rem;
  opacity: 100%;
  color: #00FF88;
}
.normal-text{
  font-size: 0.6rem;
  color: #FFFFFF;
}

/* gride-layout */

